header {
    background-color: #e8e8e8;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
}
main {
    padding: 20px;
}
.content {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}