<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Auto Answer</title>
</head>
<body>
    <h4>Ваши данные:</h4>
    <ul>
        <li><strong>Title:</strong> {{ form.title }}</li>
        <li><strong>Surname:</strong> {{ form.surname }}</li>
        <li><strong>Name:</strong> {{ form.name }}</li>
        <li><strong>Education:</strong> {{ form.education }}</li>
        <li><strong>Profession:</strong> {{ form.profession }}</li>
        <li><strong>Sex:</strong> {{ form.sex }}</li>
        <li><strong>Motivation:</strong> {{ form.motivation }}</li>
        <li><strong>Ready:</strong> {{ form.ready }}</li>
    </ul>
</body>
</html>