{% extends "base.html" %}

{% block title %}Список работ{% endblock %}

{% block content %}
<h2>List of Jobs</h2>

<div class="d-flex justify-content-between mb-3">
    <a href="{{ url_for('departments_list') }}" class="btn btn-secondary">Back to Departments</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('add_job') }}" class="btn btn-primary">Добавить работу</a>
    {% endif %}
</div>

{% for job in jobs %}
<div class="card mb-3">
    <div class="card-header">
        Работа #{{ job.id }}
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название работы</th>
                    <th>Командир</th>
                    <th>Участники</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ job.job_title }}</td>
                    <td>{{ job.team_leader.name }} {{ job.team_leader.surname }}</td>
                    <td>{{ job.collaborators }}</td>
                    <td>{{ "выполнено" if job.is_finished else "в процессе" }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            {% if current_user.id == job.team_leader_id or current_user.id == 1 %}
            <a href="{{ url_for('edit_job', job_id=job.id) }}" class="btn btn-warning">Изменить</a>
            
            <form action="{{ url_for('delete_job', job_id=job.id) }}" method="post">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}