{% extends "base.html" %}

{% block title %}{{ user.name }} из {{ user.city_from }}{% endblock %}

{% block content %}
<h1>{{ user.name }} {{ user.surname }} из {{ user.city_from }}</h1>
<p>Родной город колониста: <strong>{{ user.city_from }}</strong></p>

<div style="width: 600px; height: 400px;" id="map"></div>

<script type="text/javascript">
  window.onload = function () {
    ymaps.ready(init);
    function init() {
      var map = new ymaps.Map("map", {
        center: [55.751574, 37.573856],
        zoom: 10,
        controls: ['zoomControl']
      });
      fetch("/api/users/{{ user.id }}")
        .then(response => response.json())
        .then(data => {
          const city = data.user.city_from;
          ymaps.geocode(city).then(function (res) {
            var firstGeoObject = res.geoObjects.get(0);
            if (firstGeoObject) {
              map.geoObjects.add(firstGeoObject);
              map.setCenter(firstGeoObject.geometry.getCoordinates(), 10);
            } else {
              alert("Не удалось найти координаты для города: " + city);
            }
          });
        })
        .catch(error => {
          console.error("Ошибка загрузки данных:", error);
        });
    }
  };
</script>

<script src="https://api-maps.yandex.ru/2.1/?apikey=8013b162-6b42-4997-9691-77b7074026e0&lang=ru_RU" type="text/javascript"></script>
{% endblock %}